
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Ahorcado</h4>
        </div>
        <div class="card-body">
          <img src="assets/gameicons/ahorcado.png" style="height:200px; padding-right: 50px;">
          <button type="button" class="btn btn-lg btn-block btn-primary">Empezar</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Mayor o Menor</h4>
        </div>
        <div class="card-body">
          <img src="assets/gameicons/mayormenor.png" style="height:200px; padding-right: 50px;">
          <button type="button" class="btn btn-lg btn-block btn-primary">Empezar</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Preguntado</h4>
        </div>
        <div class="card-body">
          <img src="assets/gameicons/preguntado.png" style="height:200px; padding-right: 50px;">
          <button type="button" class="btn btn-lg btn-block btn-primary">Empezar</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Puntería</h4>
        </div>
        <div class="card-body">
          <img src="assets/gameicons/punteria.png" style="height:200px; padding-right: 50px;">
          <button type="button" class="btn btn-lg btn-block btn-primary">Empezar</button>
        </div>
      </div>
    </div>
  
    
  </div>